{
  "presets": [["@babel/env", {"modules": false}], "@babel/react"],
    "plugins": [
      "@babel/plugin-proposal-object-rest-spread",
      "transform-class-properties"
    ],
    "env": {
      "test": {
        "plugins": [
          "transform-es2015-modules-commonjs"
        ]
      }
    }
}
