@import '~bulma';
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

.container {
  padding: 0.5rem;
}

.level {
  padding: 2rem;
  background-color: $dark;

  label, h1 {
    color: $light;
  }

  &-right {
    display: flex;
    flex-direction: column;
  }
}

.media-left {
  margin-right: 2rem;
  width: 200px;
  height: 200px;
}

.field:not(:last-child) {
  margin: 0;
}

#container {
  width: 600px;
  height: 400px;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1
}

select {
  width: 400px;
}