@import '~bulma';
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

.container {
  padding: 0.5rem;
}

.level {
  padding: 2rem;
  background-color: $dark;

  label, h1 {
    color: $light;
  }

  &-right {
    display: flex;
    flex-direction: column;
  }
}

.field:not(:last-child) {
  margin: 0;
}

.loading {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
}

.currency-selector {
  border-radius: 10px;
  cursor: pointer;

  &:hover,
  &--selected {
    text-decoration: underline;
  }
}
